/* boostrap overrides*/

.row-no-padding  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

iframe {
    width: 100% !important;
    height: 150px !important;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

aside {
    position: fixed !important;
    top: 10px !important;
}

div .carousel-wrapper {
    margin: 20px auto !important;
    width: 400px !important;
}

/* global */
.content-wrapper{
    margin: 0px 25px;
}

/* header */

header .top-container .ticket{
    width: 13%;
    position: absolute;
    left: 1%;
    top: 15px;
    cursor: pointer;
}

header .top-container .aquarium-pict{
    width: 100%;
}

header input{
    margin-bottom:5px;
}

/* search */
#search-wrapper {
    margin-top:5px;
}

/* social links */
aside {
    float: right;
}

aside.side-controls {
    position: absolute;
    right: 0;
    top: 125px !important;
}
aside .connectshow {
    border: solid 2px black;
}

aside.side-controls > div {
    display: inline-block;
}
.connecthide img {
    display: none;
}

/*social links and hover out*/
aside:hover .connecthide img {
    display: inline-block;
}

div #webcam {
    margin: 0;
    margin-right: -9px;
    height: 150px;
}

div #socialmedia {
    margin: 0;
    margin-right:-9px;
    height: 253px;
}
aside.side-controls > div {
    display: inline-block;
}

div #photo-container {
    margin-top: 30px;
    margin-bottom: 30px;
}

/* insta photos */
#photo-container ul {
    list-style-type: none;
    padding:0; 
    margin:0;
}

 {
margin: 5px;
}

#photo-container iframe {
    /*width: 100% !important;
    height: 450px !important;*/
}

/* menu bar */
nav.top-navbar li {
    list-style: none;
}

nav.top-navbar {
    border-top: 2px solid black !important;
    border-bottom: 2px solid black !important;
}




/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) { 
    header .header-actions {
        position: absolute;
        right: 0;
        top: 0px;
        width: 100px;
    }
    header .header-actions button{
        padding:3px;
        font-size:12px;
    }
    header {
        margin-top:27px;
    }
    
    aside.side-controls .connecthide {
        display: none;
    }
}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    header .header-actions button{
        margin: 5px !important;
    }
    
    aside.side-controls .connecthide {
        display: none;
    }
      
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    aside.side-controls .connecthide {
        display: inline-block;
    }
}


/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    aside.side-controls .connecthide {
        display: inline-block;
    }
}
/* bottom nav bar */
footer {
    border-top: 2px solid black;
    margin-top: 30px;
}

#bottom-nav {
    padding-bottom: 5px;
   display: inline-block;
}

#bottom-nav li {
    margin: 0;
    padding: 0;
    width: 125px;
    list-style: none;
}
#bottom-info {
    width: 1000px;
    padding-top: 12px;
}
#bottom-info li {
    list-style: none;
    font-size: 10px;
    
}

/*notification bar */
#notificationbar {
    height: 100px;
    border-left-width: 2px;
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}

#notificationbar div img {
    height: 100px;
    width: 175px;
    border: solid 2px black;
    display: block;
    margin: 0 auto;
}

div .hourschedule .wordshours {
    text-align: center;
    border-bottom: solid 2px black;
}

div #newletterpict {
    width: 100%;
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}

div #bottom-nav {
    margin-top: 5px;
}

div.content-wrapper {
    border: 2px solid black;
    margin-bottom: 30px;
}

/*styles*/
#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}


/** page structure **/
#w {
  display: block;
  width: 750px;
  margin: 0 auto;
  padding-top: 30px;
}

#content {
  display: block;
  width: 100%;
  background: #fff;
  padding: 25px 20px;
  padding-bottom: 35px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}